*{

}

body{
    max-height: 100%;
     background-image: url('Arts/Forestback.png');
}

body{
    font-family: 'Press Start 2P', cursive;
    color: snow;

}


/*Terrain de jeu*/
#field{
    border: 2px solid blue;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    background:linear-gradient(aqua, lightblue, gold, purple);
    position: relative;
}


/*Pion de jeu*/
*#pion{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: darkred;
    left: 0px;
    right: 0px;
    animation-name: turntest;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 100;

}

@keyframes turntest{
from {
    transform: rotate3d();
}
to {
    transform: rotate3d(-10, 10, 0.5, 3rad);
    }}

/*Enemies*/

